In [2]:
#import all necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
os.listdir()

['Untitled.ipynb',
 '.ipynb_checkpoints',
 'README.md',
 'time_series_2019-ncov-Confirmed.csv']

In [4]:
data = pd.read_csv('time_series_2019-ncov-Confirmed.csv')

In [5]:
data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,75,82,114,147,177,212,272,322,411,599
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,701,773,839,825,878,889,924,963,1007,1086
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,200,212,226,243,266,313,345,385,432,455
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,2
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,197,238,428,566,673,790,900,1030,1183,1306

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 65 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  325 non-null    object
 1   Country/Region  487 non-null    object
 2   Lat             487 non-null    float64
 3   Long            487 non-null    float64
 4   1/22/20         487 non-null    int64
 5   1/23/20         487 non-null    int64
 6   1/24/20         487 non-null    int64
 7   1/25/20         487 non-null    int64
 8   1/26/20         487 non-null    int64
 9   1/27/20         487 non-null    int64
 10  1/28/20         487 non-null    int64
 11  1/29/20         487 non-null    int64
 12  1/30/20         487 non-null    int64
 13  1/31/20         487 non-null    int64
 14  2/1/20          487 non-null    int64
 15  2/2/20          487 non-null    int64
 16  2/3/20          487 non-null    int64
 17  2/4/20          487 non-null    int64
 18  2/5/20          487 non-null    int64
 19  2/6/20          487 non-null    int64
 20  2/7/20          487 non-null    int64
 21  2/8/20          487 non-null    int64
 22  2/9/20          487 non-null    int64
 23  2/10/20         487 non-null    int64
 24  2/11/20         487 non-null    int64
 25  2/12/20         487 non-null    int64
 26  2/13/20         487 non-null    int64
 27  2/14/20         487 non-null    int64
 28  2/15/20         487 non-null    int64
 29  2/16/20         487 non-null    int64
 30  2/17/20         487 non-null    int64
 31  2/18/20         487 non-null    int64
 32  2/19/20         487 non-null    int64
 33  2/20/20         487 non-null    int64
 34  2/21/20         487 non-null    int64
 35  2/22/20         487 non-null    int64
 36  2/23/20         487 non-null    int64
 37  2/24/20         487 non-null    int64
 38  2/25/20         487 non-null    int64
 39  2/26/20         487 non-null    int64
 40  2/27/20         487 non-null    int64
 41  2/28/20         487 non-null    int64
 42  2/29/20         487 non-null    int64
 43  3/1/20          487 non-null    int64
 44  3/2/20          487 non-null    int64
 45  3/3/20          487 non-null    int64
 46  3/4/20          487 non-null    int64
 47  3/5/20          487 non-null    int64
 48  3/6/20          487 non-null    int64
 49  3/7/20          487 non-null    int64
 50  3/8/20          487 non-null    int64
 51  3/9/20          487 non-null    int64
 52  3/10/20         487 non-null    int64
 53  3/11/20         487 non-null    int64
 54  3/12/20         487 non-null    int64
 55  3/13/20         487 non-null    int64
 56  3/14/20         487 non-null    int64
 57  3/15/20         487 non-null    int64
 58  3/16/20         487 non-null    int64
 59  3/17/20         487 non-null    int64
 60  3/18/20         487 non-null    int64
 61  3/19/20         487 non-null    int64
 62  3/20/20         487 non-null    int64
 63  3/21/20         487 non-null    int64
 64  3/22/20         487 non-null    int64
dtypes: float64(2), int64(61), object(2)
memory usage: 247.4+ KB